:root {
    --button-color: #FF6565; 
}

body{
    margin: 0;
    font-family: Source sans pro, sans-serif;
}

header {
    padding-top: 13px;
}

.hero{
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    max-height: 30px;
    height: auto;
    width: auto;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#nav-list li {
    margin: 10px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

#hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    color: white;
    padding: 0 10px;
}

#hero-title {
    text-align: center;
    margin-top: 190px;
}

#hero-title h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

#hero-title p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
}

#hero-button {
    text-align: center;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: 999px;
    box-shadow:   0 3px 17px rgb(0, 0, 0);;
    padding: 15px 20px;
    font-size: 15px;
    color: white;
    margin: 30px 0;
}

.hero-text {
    text-align: center;
    line-height: 1.5;
    padding: 10px 10px;
}

@media screen and (min-width: 540px) {
    .hero-text {
        max-width: 600px;
        margin: 0 auto;
    }
}

.about {
    line-height: 1.5;
}

.about-title {
    text-align: center;
    margin: 50px auto;
    padding: 0 8px;
}

@media screen and (min-width: 540px) {
    .about-title {
        max-width: 600px;
        margin: 70px auto;
    }
}

.about-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  margin: 4rem 4.5rem 3rem 4.5rem;
}

.about-text {
    padding: 0 10px;
}

.about-icons span {
    color: var(--button-color);
    font-size: 4rem;
}

@media (max-width: 1023px) {
  .about-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .about-icons {
    grid-template-columns: 1fr;
  }
}

.results {
    line-height: 1.5;
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.results-title {
    text-align: center;
    margin: 50px auto;
    padding: 80px 8px 0px 8px;
}

@media screen and (min-width: 540px) {
    .results-title {
        max-width: 600px;
        margin: 70px auto;
    }
}

.results-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  margin: 4rem 4.5rem 0rem 4.5rem;
  padding-bottom: 3.5rem;
}

.results-text {
    padding: 0 10px;
}

.results-img {
    width: 180px;
    height: auto;
}

@media (max-width: 1023px) {
  .results-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .results-icons {
    grid-template-columns: 1fr;
  }
}

.results-card {
  text-align: center;
}

.pentagon-wrapper {
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.results-img {
  width: 100%;
  height: auto;
  display: block;
}

.stat-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  pointer-events: none;
  z-index: 2;
  line-height: 1.3;
}

.stat-number {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.stat-text {
  font-size: 0.9rem;
  margin-top: 1.0rem;
}
